/*
  Styelsheet base para portifolio arte generativa

  Paleta de cores
    #525252
    #414141
    #313131
    #444
    #222
    #ca3e47
    #f2eeee
*/

html {
    scroll-behavior: smooth;
    overflow: auto;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 100%;
    font-family: 'Trebuchet MS', 'Tahoma', sans-serif;
    vertical-align: baseline;

    /* font-weight: bolder; */
    /* width: 100vw; */
    /* height: 100vh; */
    background: #414141;
    color: #f2eeee;
    font-size: 1.6em;
    /* padding-left: 38px !important; */
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-content: center;

    /* overflow: hidden; */
}

/* TODO: variar largura e atualizar na resolução do shader  */
.container {
    width: 800px;
    /* min-width: 800px; */
    /* width: 80%; */
    margin: auto;
}

.footer {
    text-align: center;
    margin-top: 70px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 99%;
}

.shader {
    font-family: "Consolas", monaco, monospace;
    white-space: pre;
    overflow-x: scroll;
    border-top: 3px solid ;
    padding-top: 1rem;
    /* position: relative; */
    /* z-index: 10; */
}

canvas {
    width: 100%;
    /* height: 6px; */
    /* margin: auto; */
    margin: auto;
    /* width: 800px; */
    height: 600px;
    /* height: 50vh; */
    /* width: 100%; */
    background: transparent;
}

.dark {
    background: #212121;
    padding: 15px;
}

h3 {
    /* border-style: dotted; */
}

details summary {
  cursor: pointer;
  margin-bottom: 10px;
}

details summary > * {
  display: inline;
}

div > div:has( select#cList ){
    padding: 1rem 1.2rem 0;
}

select#cList {
    /* outline: red 1px solid; */
    /* appearance: none; */
    width: 100%;
    border: none;
    cursor: pointer;
    color: inherit;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    /* padding: 1rem 1rem 0; */
    display: grid;
}

/* select#cList::-ms-expand { */
/*   display: none; */
/* } */

/* select#cList::after { */
/*   content: ""; */
/*   width: 0.8em; */
/*   height: 0.5em; */
/*   background-color: #f2eeee; */
/*   clip-path: polygon(100% 0%, 0 0%, 50% 100%); */
/* } */

/* select#cList option { */

/* } */
